/* Charset */
@charset 'UTF-8';

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:wght@400;700&display=swap');

/* CSS Variables */
:root {

   --background-color: #fdfdfd;
   --main-color: #f18f01;
   --text-color: black;
   --hover-text-color: white;
   --dull-text-color: #555;
   --dark-grey: #222;
   --shadow-color: rgba(241, 143, 1, 0.5);
   --transparent: transparent;
   --background-gradient: linear-gradient(rgb(0, 0, 0, .1), var(--main-color));
}

.dark_mode {
   --background-color: #1E1E1E;
   --text-color: white;
   --dull-text-color: #999;
   --shadow-color: rgba(241, 143, 1, 0.6);
   --hover-text-color: black;
}

body {
   min-height: 100vh;
   background: var(--background-color);
   color: var(--text-color);
   overflow-x: hidden;
}