/* Charset */
@charset 'UTF-8';

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:wght@400;700&display=swap');

/* CSS Variables */
:root {
   --background-color: #fdfdfd;
   --main-color: red;
   --text-color: black;
   --alt-text-color: white;
   --hover-text-color: white;
   --dull-text-color: #555;
   --dark-grey: #222;
   --shadow-color: rgba(241, 143, 1, 0.5);
   --transparent: transparent;
   --background-gradient: linear-gradient(180deg, #3c0000, var(--main-color));
   --soft-background-gradient: linear-gradient(to left, #3c0000, white);
   --transition-duration: .1s;
}

.dark_mode {
   --background-color: #1E1E1E;
   --background-color: black;
   --text-color: white;
   --alt-text-color: white;
   --dull-text-color: #999;
   --shadow-color: rgba(241, 143, 1, 0.6);
   --hover-text-color: black;
   --soft-background-gradient: linear-gradient(to left, #3c0000, black);
}

/* Common CSS Utils */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   scroll-behavior: smooth;
   transition: all .1s ease-in-out;
   outline: none;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

i {
   cursor: pointer;
}

.gradientText {
   background: linear-gradient(180deg, #3c0000, var(--main-color));
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 3.5rem;
}

.custom_button {
   position: relative;
   border: 1px solid var(--main-color);
   border-radius: 8px;
   background-color: transparent;
   text-transform: uppercase;
   margin: 3rem .5rem;
   padding: .5rem 1rem;
   overflow: hidden;
}

.custom_button a {
   color: var(--text-color);
   letter-spacing: 1px;
   font-size: 1.2rem;
}

.custom_button::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background-color: var(--main-color);
   transition: width .5s ease-in-out;
   z-index: -1;
}

.custom_button:hover a {
   color: var(--hover-text-color);
}

.custom_button:hover::before {
   width: 100%;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
   width: .45rem;
}

::-webkit-scrollbar-track {
   background-color: var(--background-color);
   margin-block: .1rem;
}

::-webkit-scrollbar-thumb {
   background: var(--main-color);
   opacity: .5;
   border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
   opacity: 1;
}

/* GLOBAL STYLES */
body {
   min-height: 100vh;
   background: var(--background-color);
   color: var(--text-color);
   overflow-x: hidden;
}

.container {
   max-width: 1480px;
}

section {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.sectionHeader {
   text-align: center;
   padding: 1rem 0;
}

.sectionBody {
   flex: 1;
   display: grid;
   place-items: center;
}

/* NAVIGATION */
.hamburger_icon {
   position: absolute;
   top: 0;
   right: 0;

   i {
      font-size: 3rem;
      color: var(--text-color);
      margin: 3rem;
   }

   i:hover {
      color: var(--main-color);
      transition: all .5s ease;
   }
}

nav {
   width: 100%;
   height: 100vh;
   background: linear-gradient(to top, #3c0000, black);
   display: grid;
   place-items: center;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;

   .close_icon {
      position: absolute;
      top: 0;
      right: 0;
      margin: 3rem;
      color: var(--alt-text-color);

      i {
         font-size: 3rem;
      }

      i:hover {
         color: var(--main-color);
         transition: all .5s ease;
      }
   }
}

.hide {
   display: none;
}

.navigation_menu {
   li {
      font-size: 2rem;
      text-transform: uppercase;
      margin: 1rem;
      cursor: pointer;
      color: var(--alt-text-color);
   }

   li:hover {
      transform: scale(1.05);
      transition: transform .5s ease-in-out;
   }
}

/* HERO SECTION */
#hero {
   width: 100%;
   position: relative;
   display: flex;
   flex-direction: row;
}

.devil-left {
   background-image: url('./../Assets/Images/devil.png');
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
}

.devil-left .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 30%;
   height: 100vh;
   background: linear-gradient(to right, black, var(--transparent));
}

.devil-left .socials {
   display: flex;
   flex-direction: column;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 1;
   margin: 2rem;

   i {
      color: white;
      font-size: 2.5rem;
      margin: .5rem;
   }

   i:hover {
      transform: scale(1.05);
      color: var(--main-color);
      transition: all .5s ease-in-out;
   }
}

.overlay-right {
   top: 0;
   right: 0;
   width: 70%;
   height: 100vh;
   display: grid;
   place-items: center;

   .content {
      padding: 0rem 3rem;
      text-align: center;

      .hook {
         font-size: 1.5rem;
         margin-top: 2rem;
      }

   }
}

/* WHO WE ARE SECTION */
.whoWeAre {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;

   .text {
      padding-inline: 3rem;

      .sectionHeader {
         text-align: start;
      }
   }

   .stackedImages {
      position: relative;

      img:nth-child(2) {
         width: 350px;
         height: 350px;
         position: absolute;
         bottom: -5%;
         right: -1%;
      }
   }
}

/* MISSION AND VISION SECTION */
.missionAndVision {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   position: relative;

   i {
      font-size: 4rem;
      margin-inline: .5rem;
   }

   h1 {
      margin-block: 2rem;
   }

   .mission,
   .vision {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: var(--text-color);
      padding-inline: 5rem;
   }

   img {
      width: 730px;
      height: 730px;
   }

   .centerBanner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      border: 3px solid var(--main-color);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .3rem;

      p {
         background-color: var(--background-color);
         text-align: center;
         font-size: 1.5rem;
         padding: 3rem;
         border-radius: 50%;
         color: var(--text-color);
         margin: 0;
      }
   }

}